/content_2.jpg
/content_3.jpg
/content_4.jpg
/content_5.jpg
/content_6.jpg
/content_image.jpg
/imggg.jpeg
/output_gg.png
/output_image.jpg
/style_.jpg
/style_2.jpg
/style_3.jpg
/style_4.jpeg
/style_image.jpeg
/Vincent van Gogh’s Chair in Post-Impressionism Style.jpeg
/WhatsApp Image 2025-05-18 at 11.43.42_ca882cd4.jpg
/“Still Life with Roses in a Glass Vase,” painted by Charles Herman circa 1800s_.jpeg
/C:\Users\ayush\RnD_Cgs\WhatsApp Image 2025-06-10 at 22.06.58_c59e5325.jpg
/C:\Users\ayush\RnD_Cgs\WhatsApp Image 2025-06-10 at 22.08.19_8a0fee99.jpg
/C:\Users\ayush\RnD_Cgs\WhatsApp Image 2025-06-10 at 22.06.58_c59e5325.jpg
/C:\Users\ayush\RnD_Cgs\WhatsApp Image 2025-06-10 at 22.08.19_8a0fee99.jpg
/C:\Users\ayush\RnD_Cgs\WhatsApp Image 2025-06-10 at 22.08.19_74ec85f2.jpg
/C:\Users\ayush\RnD_Cgs\WhatsApp Image 2025-06-10 at 22.08.19_49561092.jpg
/C:\Users\ayush\RnD_Cgs\WhatsApp Image 2025-06-10 at 22.08.19_aa23a29a.jpg
/C:\Users\ayush\RnD_Cgs\WhatsApp Image 2025-06-10 at 22.08.19_cfc27c05.jpg
/C:\Users\ayush\RnD_Cgs\WhatsApp Image 2025-06-10 at 22.08.19_e17fa319.jpg
/C:\Users\ayush\RnD_Cgs\WhatsApp Image 2025-06-10 at 22.08.19_fdbdc60c.jpg
/C:\Users\ayush\RnD_Cgs\WhatsApp Image 2025-06-10 at 22.08.20_5c608d66.jpg
/C:\Users\ayush\RnD_Cgs\WhatsApp Image 2025-06-10 at 22.08.20_6cf8ff33.jpg
/C:\Users\ayush\RnD_Cgs\WhatsApp Image 2025-06-10 at 22.08.20_eda513db.jpg